/*
Theme Name: Moztheme - Ecommerce Child Theme
Theme URI: http://moztheme.com
Version: 1.0
Description: Child theme for moztheme
Author:
Author URI:
template: moztheme
*/

/*@import url("../moztheme/style.css");*/

/***********************************************\
\            Your custom style here             /
\*********************************************/
/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700');*/


/*test grid product woocommer -son*/

.slick-slide img {
    display: none;
}

.slick-slide img:first-child {
    display: block;
}

@media screen and (device-width: 320px) and (device-height: 534px) and (-webkit-device-pixel-ratio: 1.5) {
    #main .columns-4 .products {
        display: flex;
        flex-wrap: wrap;
    }

    #main .columns-4 .products li {
        display: flex;
        flex-direction: column;

    }

    #main .columns-4 .products li>a {
        height: 100%;
    }
}

#coupon_code {
    width: 48% !important;
    height: 29px;
}

.woocommerce table.cart td .coupon input.button {
    background-color: #005ed3 !important;
}

/*change font size price */
.summary .price {
    font-size: 16px !important;
}

.summary .price del {
    font-size: 12px;
}

/*css lien he mobile */
@media screen and (max-width: 768px) {
    .t-contact-mobile .children {
        left: 0 !important;
    }
}

.t-contact-mobile {
    position: fixed;
    bottom: 26px;
    left: 0px;
    z-index: 999999999999;
}

.t-contact-mobile .children {
    padding: 11px 27px;
    background: #008ef4;
    color: #fff;
    border-radius: 13px;
    position: fixed;
    bottom: 26px;
    left: 40px;
    z-index: 999999999999;
}

.content-contact {
    margin: 0 0 3.631em;
    background: #fff;
    padding: 15px;
}

.content-contact .t-texticon {
    display: inline-flex;
}

.content-contact .t-texticon .fa {
    color: red;
    padding: 6px;
    font-size: 25px;
}


.header-v2 .hotline-menu a {
    color: #f7941e;
}

#onesignal-bell-container.onesignal-reset.onesignal-bell-container-bottom-left {
    bottom: 50% !important;
}

.woocommerce .cart-collaterals .cart_totals table {
    float: none;
}

.container {
    width: 1260px !important;
}

#masthead>.navbar.topbar {
    /* display: none; */
    background-color: #005fd2;
}

nav#site-navigation {
    background-color: #4a90e2 !important;
    border-radius: 0 !important;
}

.navbar-nav>li {
    float: left;
}

#site-navigation ul li {
    transition: 0.4s;
}

#site-navigation ul li:hover {
    background-color: #f7941e;
}

#site-navigation .nd-menu-1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    background: #005fd2;
}

#site-navigation .nd-menu-1 #yith-ajaxsearchform {
    width: auto;
    margin-top: 7px;
    position: relative;
}

#site-navigation .nd-menu-1 .yith-ajaxsearchform-container {
    float: left;
    margin-left: 30px;
    min-width: 300px;
}

@media(min-width: 1300px) {
    #site-navigation .nd-menu-1 .yith-ajaxsearchform-container {
        min-width: 400px;
    }
}

#site-navigation .nd-menu-1 #yith-ajaxsearchform .yith-ajaxsearchform-container {
    min-width: 300px;
    float: left;
    margin-left: 30px;
}

#site-navigation .nd-menu-1 #yith-ajaxsearchform input[type="submit"] {
    position: absolute;
    right: -1px;
}

#site-navigation .nd-menu-1 li a {
    padding: 20px 20px !important;
    color: #fff;
}

#site-navigation .nd-menu-1 .menu {
    float: left;
    border-left: 1px solid #1d84ca;
    border-right: 1px solid #0f629a;
}

#site-navigation .nd-menu-1 .menu>li {
    border-right: 1px solid #1d84ca;
    border-left: 1px solid #0f629a;
    padding: 0 !important;
}

#site-navigation .nd-menu-1 .container {
    background-color: transparent !important;
}

#site-navigation .nd-menu-1 ul.menu>li {
    padding-top: 20px;
    padding-bottom: 20px;
}

#site-navigation .nd-menu-1 li ul {
    margin-left: -1px;
    margin-top: -1px;
    border: 0;
    background: #005fd2;
}

#site-navigation .nd-menu-1 li ul li a {
    display: block;
    background-color: transparent;
    font-size: 100%;
    font-weight: normal;
    border-color: #ddd;
}

#site-navigation .nd-menu-1 .hotline-menu {
    margin-top: 10px;
}

@media(min-width: 992px) {
    #site-navigation.fixed .nd-menu-1 {
        display: block;
    }
}

.navbar-nav {
    float: left;
    margin: 0;
}

.header-v2 .product-catalog ul li:last-child {
    border: none;
}

.header-v2 .product-catalog>ul>li li.sale a {
    background-image: url(img/hot.png) !important;
    background-repeat: no-repeat !important;
    background-position: 10px !important;
    padding: 30px;
    padding-left: 75px !important;
    font-weight: bold;
    font-size: 18px;
    display: block;
    width: 100%;
    line-height: 1.5 !important;
}

.header-v2 .product-catalog>ul>li>ul>li.sale>a:before {
    content: none;
}

/* Products Loop */
.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
    margin: 9px 0;
}

.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    min-height: 28px;
    text-indent: 10px;
}

.bubble .inside {
    background-color: transparent;
    border-radius: 0 !important;
    height: 44px;
    width: 50px;
}

.bubble .inside .inside-text {
    color: #fff;
    background: #EE4236;
    text-align: center;
    font-size: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: block;
    padding-top: 6px;
    display: none;
}

.woocommerce .products ul,
.woocommerce ul.products {
    margin-left: -10px;
    margin-right: -10px;
}

.woocommerce ul.products li.product {
    margin: 0;
    width: 25%;
    /* border: 1px solid #DFE0E0; */
    /* border-left: 0; */
    /* border-right: 0; */
    text-align: center;
    float: left !important;
    clear: none;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media(min-width: 768px) {
    .woocommerce ul.products>li.product:nth-child(4n+1) {
        clear: both;
    }
}

.woocommerce ul.products li.product .des-single {
    font-size: 13px;
    color: #333;
    text-align: left;
    max-height: 80px;
    overflow: hidden;
}

.woocommerce ul.products li.product .sku {
    display: none;
}

.woocommerce ul.products li.product:nth-child(4n) {}

.woocommerce ul.products li.product:nth-child(4n+1),
.woocommerce ul.products li.product:nth-child(4n+2),
.woocommerce ul.products li.product:nth-child(4n+3),
.woocommerce ul.products li.product:nth-child(4n+4) {
    border-bottom-color: #DFE0E0;
}

.woocommerce ul.products li.product:hover>a {
    border: 1px solid #37BAEB;
}

.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    height: 220px;
}

.woocommerce ul.products li.product a:hover img,
.woocommerce-page ul.products li.product a:hover img {
    box-shadow: none;
}

@media(min-width: 1200px) {
    .woocommerce ul.products li.product h3 {
        height: 54px;
    }
}

.woocommerce ul.products li.product h3 {
    font-weight: 600;
    font-size: 15px;
    /* height: 50px; */
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
    line-height: 1.2;
}

.woocommerce ul.products li.product:hover h3 {
    color: #F7941E;
}

.woocommerce ul.products li.product h3:after {
    display: block;
    content: ' ';
    width: 50%;
    margin: 5px auto 0;
    height: 1px;
    border-bottom: 1px solid #F7941E;
    font-weight: bold;
    display: none;
}

.woocommerce ul.products li.product a {
    color: #4a90e2;
    /* margin: 10px; */
    /* min-height: 260px; */
    display: block;
    display: flex;
    flex-direction: column;
}

.woocommerce ul.products li.product>a {
    /* padding: 15px 10px; */
    border: 1px solid #ddd;
    /* border-top: 0; */
    /* border-bottom: 0; */
    margin-top: 0;
    margin-bottom: 0;
    min-height: 417px;
}

.woocommerce ul.products li.product>a .single-thumbnail {}

.woocommerce ul.products li.product>a .single-info {
    padding: 0 10px;
}

.error404 ul.products li.product a {
    min-height: 285px;
}

.woocommerce ul.products li.product:hover a {
    color: inherit;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    overflow: hidden;
}

.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content div.product p.price {
    color: #F7941E;
    font-size: 1em;
}

.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
    display: block;
    font-size: 0.85em;
    font-weight: 400;
    color: #333;
    float: left;
}

.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins {
    color: #f00;
    text-decoration: none;
    font-weight: bold;
    float: right;
}

.woocommerce .products .star-rating,
.woocommerce-page .products .star-rating {
    margin: 0 auto;
    font-size: 11px;
}

.woocommerce ul.products.slick-slider li {
    clear: none;
    float: left;
    border: none;
}

.woocommerce ul.products.slick-slider li a {
    /* border: 1px solid transparent; */
}

.woocommerce ul.products.slick-slider li:hover {
    border: none;
}

.woocommerce ul.products.slick-slider li:hover a {
    border: 1px solid #37BAEB;
}

img {
    max-width: 100%;
    height: auto;
}

.archive.woocommerce .page-title {
    text-transform: uppercase;
    /* font-weight: 600; */
    font-size: 26px;
    text-align: left;
    margin-top: 20px;
}

.top-level-taxonomy .slick-prev,
.top-level-taxonomy .slick-next {
    top: -40px;
}

.top-level-taxonomy .slick-prev {
    left: initial;
    right: 25px;
}

.top-level-taxonomy .slick-next {
    right: 0;
}

.top-level-taxonomy .slick-prev:before,
.top-level-taxonomy .slick-next:before {
    color: #222;
}


/* Single product */
.woocommerce div.product div.images div.thumbnails,
.woocommerce #content div.product div.images div.thumbnails,
.woocommerce-page div.product div.images div.thumbnails,
.woocommerce-page #content div.product div.images div.thumbnails {
    margin-top: 1em;
    padding-top: 0;
}

.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
    margin-right: 0 !important;
    clear: none !important;
}

.woocommerce div.product div.images img,
.woocommerce #content div.product div.images img,
.woocommerce-page div.product div.images img,
.woocommerce-page #content div.product div.images img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto;
    box-shadow: none;
    border: 1px solid #eee;
}

.woocommerce #content div.product div.images .slick-prev,
.woocommerce #content div.product div.images .slick-next {}

.woocommerce #content div.product div.images .slick-prev {
    left: 0;
}

.woocommerce #content div.product div.images .slick-next {
    right: 0;
}

.woocommerce #content div.product div.images .slick-prev:before,
.woocommerce #content div.product div.images .slick-next:before {
    color: #333;
}

.woocommerce div.product .product_title,
.woocommerce #content div.product .product_title,
.woocommerce-page div.product .product_title,
.woocommerce-page #content div.product .product_title {
    font-weight: bold;
    font-size: 20px;
}

.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content div.product p.price {
    font-weight: bold;
}

.woocommerce div.product span.price ins,
.woocommerce div.product p.price ins,
.woocommerce #content div.product span.price ins,
.woocommerce #content div.product p.price ins,
.woocommerce-page div.product span.price ins,
.woocommerce-page div.product p.price ins,
.woocommerce-page #content div.product span.price ins,
.woocommerce-page #content div.product p.price ins {
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    font-size: 12px;
}

.product_meta {
    display: none;
}

.woocommerce #content div.product form.cart .button,
.woocommerce div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button {
    background: #D95454;
    border: none;
    text-shadow: none;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: none;
    font-size: 12px;
    padding: 15px 20px;
}

.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
    height: 42px;
}

.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
    height: 21px;
    background: #E5E5E5 !important;
    box-shadow: none;
    border-radius: 0;
}

.single_variation,
.variations_button {
    text-align: center;
    margin-bottom: 20px;
}

.variations_button .quantity,
.variations_button button.button {
    display: inline-block !important;
    vertical-align: top !important;
    float: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
    padding-left: 0;
    margin-bottom: 10px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
    top: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    background: none;
    border: none;
    border-top: 2px solid transparent;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding-left: 5px;
    margin-right: 10px;
    padding-right: 10px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
    border-top-color: #FF2D00;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
    content: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
}

.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel {
    margin-bottom: 0;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button {
    background: #D95454;
    box-shadow: none;
    border-radius: 0;
    text-transform: uppercase;
    border: none;
    text-shadow: none;
    color: #fff;
    padding: 8px 15px;
}

.woocommerce #reviews h3,
.woocommerce-page #reviews h3 {
    margin: 5px 0 15px;
    font-size: 14px;
}

/* related */
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
    width: 25%;
}

/* Sidebar */
aside>* {
    border: 1px solid #DFE0E0;
}

aside>.widget-title {
    border: none;
}

aside>.widget-title span {
    border-bottom: 2px solid #EF4136;
}

aside .product-categories {
    padding: 0;
    list-style: none;
}

aside .product-categories>li {
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
}

aside .product-categories a {
    text-transform: uppercase;
    color: #333;
}

aside .product-categories ul {
    padding-left: 18px;
    padding-top: 13px;
}

aside .product-categories ul li {
    padding: 4px;
    border-top: 1px solid #eee;
}

.widget_sp_image img {
    border: none !important;
    height: auto;
}

.main-footer ul {}

#footer-padding-bottom {
    color: #333;
    font-size: 12px;
    font-family: arial;
    /* padding-top: 15px;
     border-top: 1px dashed #999;
    margin-top: 15px; */
}

#footer-padding-bottom p {
    line-height: 1.5;
    margin-bottom: 0;
}

footer#colophon ul li {
    line-height: 1.5;
}

/* Comment */

#comments header {
    background: #fff;
    padding: 0;
    margin-bottom: 0;
}

#comments .comments-title {
    font-size: 13px;
    margin-bottom: 0;
    font-weight: bold;
    background: #428bca;
    padding: 8px 10px 5px;
}

#comments .comments-title span {
    color: #fff;
}

.comment-list .avatar,
.comment-meta {
    display: none;
}

.comment-list {
    font-size: 13px;
}

.comment-list li {
    position: relative;
    border-top: none;
}

.thread-odd .media-body-wrap.panel {
    background: #F8F8F8;
}

ul.children .media-body-wrap.panel {
    border-top: 1px dotted #e2e2e3;
    padding-left: 0;
}

.comment .children {
    margin-left: 0 !important;
    padding-left: 30px;
}

.comment-list .fn {
    font-weight: bold;
    color: #444;
}

.comment-list .says {
    display: none;
}

.comment-list .comment-reply-link {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    padding: 0;
    border-radius: 0;
    background: transparent;
    color: #428bca;
    border: 0;
    font-weight: bold;
}

.comment-list .comment-reply-link:before {
    content: "\f112";
    font-family: FontAwesome;
    color: #333;
    margin-right: 5px;
    font-size: 11px;
    font-weight: 400;
}

.comment-list .panel-footer {
    padding: 0;
    margin: 0;
    border: none;
}

.comment-content {
    margin-top: 10px;
}

.media-body-wrap.panel {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    padding: 10px;
}

#respond {
    background: #F5F5F5;
    padding: 20px 30px;
}

#respond #reply-title {
    display: none;
}

#respond #reply-title span {
    color: #fff;
    background: #ff434a;
    padding: 13px 15px 14px 20px;
    position: relative;
}

#respond #reply-title span:before {
    background: #ED131B;
    height: 17px;
    width: 4px;
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
}

form.comment-form {
    padding: 0;
}

#respond label {
    width: 100px;
    font-weight: 400;
    font-size: 12px;
}

#respond textarea.form-control {
    border-radius: 0;
}

#respond textarea.form-control:focus {
    box-shadow: none;
    border-color: #ccc;
}

#respond input {
    padding-left: 10px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out .15s;
}

#respond input:focus {
    outline: 0;
}

#respond p.form-submit {
    text-align: right;
}

#respond input[type="submit"] {
    border: none;
    border-radius: 0;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
}

@media (min-width: 768px) {

    .comment-form-author,
    .comment-form-email {
        width: 49%;
        float: left;
    }

    #respond label {
        width: 25%;
        float: left;
    }

    .comment-form-author input,
    .comment-form-email input {
        width: 75%;
    }

    #respond .comment-form-email {
        margin-left: 2%;
    }
}

/* tags */
.single-post .tag-links {}

.single-post .tag-links a {
    margin-right: 5px;
}

.single-post .entry-meta span a {
    background: #f1f1f1;
    color: #656565;
    margin-right: 6px;
    padding: 3px;
    font-size: 12px;
}

.single-post .entry-meta span a:hover {
    text-decoration: none;
    background: #e2e2e2;
}

/* Moz sharing block*/
._moz_sharing {
    padding-left: 0;
}

._moz_sharing li {
    background: #8B8B8B;
    display: inline-block;
    margin-left: 0;
    font-size: 12px;
}

._moz_sharing li a {
    display: block;
    text-align: center;
    width: 16px;
    height: 16px;
    color: #fff;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

._moz_sharing li a:before {
    content: '';
    width: 16px;
    height: 16px;
    background: #333;
    position: absolute;
    left: 0;
    top: -16px;
    z-index: -1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

._moz_sharing li:hover a:before {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    top: 0;
}

._moz_sharing li.fb a:before {
    background: #3B5998;
}

._moz_sharing li.tw a:before {
    background: #55ACEE;
}

._moz_sharing li.gg a:before,
._moz_sharing li.pt a:before {
    background: #C92410;
}

/* MOz like button */
._moz_like {
    padding: 0;
    margin: 0;
}

._moz_like li {
    display: inline-block;
}

/*=================================
  > Searchform v1
  =================================*/
#yith-ajaxsearchform>div {
    display: block;
    padding: 0;
    margin: -1px;
    margin-right: -3px;
}

#yith-ajaxsearchform .screen-reader-text {
    display: none;
}

#yith-ajaxsearchform {
    border: 2px solid #4a90e2 !important;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    padding: 1px;
    width: 530px;
}

#yith-ajaxsearchform input {
    border: none;
    padding: 3px 10px;
    height: 38px;
    margin: 0;
}

#yith-ajaxsearchform input[type="search"] {
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    width: 80%;
}

#yith-ajaxsearchform input[type="submit"] {
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    background: #4a90e2;
    color: #fff;
    float: right;
}

#yith-ajaxsearchform input[type="submit"]:hover {
    /*   color: #F15A29; */
}

/**/
.site-info {
    text-align: center;
}

/**/
.crp_related>*:first-child {
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

aside ul li {
    list-style-position: inside;
}

/* Style h2 trang chu*/
body.home #main h2 {
    font-size: 20px;
    border-bottom: 1px solid #4a90e2;
}

body.home #main h2 a {
    display: inline-block;
    background-color: #4a90e2;
    padding: 7px 15px;
    color: #fff !important;
    font-family: Arial !important;
    font-size: 24px !important;
    font-weight: bold;
}

@media(max-width: 767px) {

    .woocommerce ul.products>li.product,
    .woocommerce-page ul.products>li.product,
    .woocommerce-page[class*=columns-] ul.products>li.product,
    .woocommerce[class*=columns-] ul.products>li.product {
        width: 50% !important;
        */
    }

    .woocommerce ul.products>li.product:nth-child(2n+1),
    .woocommerce-page ul.products>li.product:nth-child(2n+1),
    .woocommerce-page[class*=columns-] ul.products>li.product:nth-child(2n+1),
    .woocommerce[class*=columns-] ul.products>li.product:nth-child(2n+1) {
        clear: both;
    }
}

.ft-widget ul li {
    border-bottom: 0;
    padding: 5px;
}

/*tin tuc footer*/
#footer-news {
    background-color: #fff;
    clear: both;
    color: #333;
    padding-bottom: 0px;
}

#footer-news .title-col-wrap {
    position: relative;
    overflow: hidden;
}

#footer-news .title-col-wrap:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
    width: 100%;
}

#footer-news .title-col {
    margin: 0;
    margin-bottom: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
    z-index: 2;
    padding: 10px 15px 0 0px;
    background: white;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#footer-news .title-col:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 30%;
    height: 0;
    background: #4a90e2;
}

@media(min-width: 768px) {
    #footer-news .col-sm-6:nth-child(2n+1) {
        clear: both;
    }
}

#footer-news .row {
    margin-left: -15px;
    margin-right: -15px;
}

#footer-news .col-xs-12,
#footer-news .col-xs-4,
#footer-news .col-xs-8 {
    padding-left: 15px;
    padding-right: 15px;
}

#footer-news .col-left .item {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

#footer-news .item .title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
}

#footer-news .item .title a {
    color: #333;
}

#footer-news .item .img-thumb img {
    border: 1px solid #ddd;
    padding: 2px;
}

#footer-news .col-right .title-col {
    padding: 0px 40px 0px 25px;
    line-height: 35px;
    background-color: #4a90e2;
    color: #fff;
    margin-bottom: 0;
    border-radius: 0px 40px 40px 0px;
}

#footer-news .col-right .title-col:before {
    display: none;
}

#footer-news .col-right .support {
    padding-top: 20px;
    margin-top: 20px;
    background-color: #f4f4f4;
}

#footer-news .col-right .support ul {
    padding: 25px;
    clear: both;
}

#footer-news .col-right .support ul li {
    list-style: none;
    background: url(img/icon/index_1.png) no-repeat 0px 5px, url(img/icon/right1.png) no-repeat right 15px;
    padding-left: 53px;
    line-height: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    color: #000;
    font-size: 20px;
}

#footer-news .col-right .support ul li:nth-child(2) {
    background: url(img/icon/index_2.png) no-repeat 0px 5px, url(img/icon/right1.png) no-repeat right 15px;
}

#footer-news .col-right .support ul li:nth-child(3) {
    background: url(img/icon/index_3.png) no-repeat 0px 5px, url(img/icon/right1.png) no-repeat right 15px;
}

#footer-news .col-right .support ul li p {
    margin-bottom: 0;
    color: #0072BD;
    font-weight: 600;
    font-family: "Open Sans";
}

#footer-news .col-right .support ul li span {
    margin: 0px;
    color: #757575;
    font-size: 14px;
}

@media(min-width: 992px) {
    .footer-1 {
        width: 34%;
    }

    .footer-2,
    .footer-3,
    .footer-4 {
        width: 22%;
    }
}

.nd-slide-show {
    padding-top: 0px;
    clear: both;
}

.nd-slide-show ul li {
    float: left;
    list-style: none;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.nd-slide-show .slick-prev,
.nd-slide-show .slick-next {
    width: 30px;
    height: 30px;
}

.nd-slide-show .slick-prev:before,
.nd-slide-show .slick-next:before {
    color: rgba(0, 0, 0, 0.31);
    font-size: 30px;
    transition: 0.4s;
}

.nd-slide-show .slick-prev:hover:before,
.nd-slide-show .slick-next:hover:before {
    color: rgba(0, 0, 0, 0.7);
}

#thanh-toan {
    background-color: #fff;
}

#thanh-toan ul li img {
    border: 1px solid #ddd;

}

.related-post {}

.related-post h3.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
}

.related-post .post-thumb {
    margin-bottom: 20px;
}

@media(min-width: 768px and max-width: 991px) {
    .related-post .post-thumb:nth-child(2n+1) {
        clear: both;
    }
}

@media(min-width: 991px and max-width: 1199px) {
    .related-post .post-thumb:nth-child(4n+1) {
        clear: both;
    }
}

@media(min-width: 1200px) {
    .related-post .post-thumb {
        width: 20%;
    }

    .related-post .post-thumb:nth-child(5n+1) {
        clear: both;
    }
}

.related-post .post-thumb .title-thumb {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.related-post .post-thumb .title-thumb a {
    color: #333;
}

/*css button mua hang*/
.single_add_to_cart_button.button.alt {
    display: block;
    overflow: hidden;
    border-radius: 4px;
    font-size: 13px !important;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: #fd6e1d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd6e1d), to(#f59000)) !important;
    background: -webkit-linear-gradient(top, #f59000, #fd6e1d) !important;
    padding: 15px 70px !important;
    margin-left: 15px;
    font-weight: bold !important;
}

.woocommerce ul#shipping_method li {
    text-indent: 0 !important;
}

/*css product variations label*/
.select_box_label .select_option {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    font-weight: bold;
    border-radius: 3px;
}

.select_box_label .select_option.selected {
    border: 2px solid #4a90e2;
}

.select_box_label .select_option.selected:hover {
    border: 2px solid #f7941e;

}

.select_box_label .select_option .yith_wccl_value {
    height: 100%;
}

.single-product .variations_form.cart.initialized {
    display: block;
}

.single-product .select_box_label {
    text-align: center;
}


.select_box_label .select_option.selected .yith_wccl_value::before {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    color: #005fd2;
}

.select_box_label .select_option .yith_wccl_value {
    font-family: 'Roboto', sans-serif;
}

.woocommerce .product .cart .qty {
    float: left;
}

/*css chuyen khoan trang lien he*/
.chuyen-khoan .col-md-4 {
    border: 1px solid #b7b7b7;
    margin: 5px;
    text-align: center;
    padding: 10px 0;

}

@media screen and (min-width:992px) {
    .chuyen-khoan .col-md-4 {
        width: calc(33.33333333% - 10px);
    }
}

.chuyen-khoan .col-md-4 {
    padding: 0;
}

.chuyen-khoan .tieude {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.chuyen-khoan .col-md-4 .col-md-12 {
    background: #005fd2;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
}

/*plugin xem them*/
.luu-y-qa {
    background-color: #FFFDC9;
    border-color: #005fd2;
    border-left: 1px dashed #FF0000;
    border-radius: 4px;
    border-style: dashed;
    border-width: 1px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
    padding: 15px;
    width: auto;
    display: inline-block;
}

.luu-y-qa h3 {
    font-weight: bold;
    margin-top: 10px;
}

.luu-y-qa ul {
    padding-left: 30px;
}

.luu-y-qa ul a {
    font-size: 17px;
}

.luu-y-qa strong {
    font-size: 18px;
}

.chuyen-khoan.row {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

/*#page .woocommerce ul.products li.product {*/
/*display: -webkit-box;*/
/*display: -webkit-flex;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*}*/
/*#page .woocommerce ul.products {*/
/*display: -webkit-box;*/
/*display: -webkit-flex;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*flex-flow: row wrap;*/
/*align-items: stretch;*/
/*}*/
#page .woocommerce ul.products li.product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#page .woocommerce ul.products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: row;
    align-items: stretch;
}


/*option goi cuoc single product*/
.single-product .variations_form.cart.in_loop {
    display: none;
}

.single-product .select_box:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    margin-bottom: 5px;
}

.single-product .select_option {
    display: inline-block;
    margin-right: 10px;
    float: none;
    border: 1px solid #d6d3d3;
    position: relative;
    width: 23%;
}

@media screen and (max-width:768px) {
    .single-product .select_option {
        width: 100%;
    }
}

.single-product .select_box:not(.on_ptab) .select_option:hover,
.single-product .select_option.selected {
    border-color: #999595;
}

.single-product .select_option.inactive {
    opacity: 0.5;
}


.single-product .select_option .yith_wccl_value {
    border: 2px solid #fff;
    display: block;
    min-width: 27px;
    /* height: 27px; */
    text-decoration: none;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
}

.single-product .select_option .yith-wccl-bicolor {
    width: 0;
    height: 0;
    border-bottom: 23px solid;
    border-left: 23px solid;
    display: block;
}

/* tab style */
.single-product .select_box.on_ptab .select_option .yith_wccl_value {
    cursor: default;
}

.single-product .select_option .yith_wccl_tooltip {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    width: 100px;
    margin-left: -50px;
    z-index: 99;
    left: 50%;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    pointer-events: none;
}

.single-product .select_option .yith_wccl_tooltip img {
    height: auto;
    max-width: 100%;
    margin: 5px 0;
}

.single-product .select_option .yith_wccl_tooltip span:after {
    content: '';
    border: 5px solid transparent;
    width: 1px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
}

/* position */

.single-product .select_option .yith_wccl_tooltip.top {
    bottom: 100%;
    padding-bottom: 10px;
}

.single-product .select_option .yith_wccl_tooltip.top span:after {
    bottom: -10px;
}

.single-product .select_option .yith_wccl_tooltip.bottom {
    top: 100%;
    padding-top: 10px;
}

.single-product .select_option .yith_wccl_tooltip.bottom span:after {
    top: -10px;
}

/* animation */

.single-product .select_option .yith_wccl_tooltip.fade,
.single-product .select_option .yith_wccl_tooltip.slide {
    opacity: 0;
}

.single-product .select_option:hover .yith_wccl_tooltip.fade,
.single-product .select_option:hover .yith_wccl_tooltip.slide {
    opacity: 1;
    width: 320px;
    height: 72px;
    line-height: 20px;
    padding: 10px;
    left: 50%;
    text-indent: 0px;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* border: 4px solid #fff; */
    /* background: rgba(255,255,255,0.3); */
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    bottom: 100px;
    /* box-shadow: 1px 1px 2px rgba(0,0,0,0.1); */
    transition: .3s;
    margin-left: -168px;
}

.single-product .select_option .yith_wccl_tooltip.top.slide {
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
}

.single-product .select_option .yith_wccl_tooltip.bottom.slide {
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
}

.single-product .select_option:hover .yith_wccl_tooltip.slide {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
}


.single-product .select_option:hover .yith_wccl_tooltip {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
}

.select_option .yith_wccl_tooltip>span {
    display: inline-block;
    position: relative;
    height: auto;
    width: auto;
    max-width: 100%;
    border-radius: 3px;
    padding: 3px 6px;
}

/* ARCHIVE PAGE */
.single-product li.product .variations_form.cart {
    margin: 5px 0;
}

.single-product li.product .variations_form.cart div.variations {
    margin-bottom: 5px;
}

.single-product li.product .select_option .yith_wccl_value {
    min-width: 20px;
    height: 20px;
    line-height: 17px;
}

.single-product li.product .select_option .yith-wccl-bicolor {
    border-bottom: 16px solid;
    border-left: 16px solid;
}

.single-product li.product .ywccl_stock {
    font-size: 0.92em;
    margin: 0;
}

.single-product li.product .ywccl_stock.stock {
    color: #77a464;
}

.single-product li.product .ywccl_stock.out-of-stock {
    color: red;
}

.single-product .avada-select-parent .select_box {
    display: none;
}

.select_option .yith_wccl_tooltip>span {
    background: #365899 !important;
    padding: 15px;
}


/* custom by johnsondev */
* {
    font-family: roboto;
}

.hotline-menu {
    color: #f9741e !important;
}

.header-v2 nav#site-navigation .container > div:last-child {
    border: none;
}

.product-categories .cat-item a {
    position: relative;
    padding-left: 20px;
}

.product-categories .cat-item a:before {
    content: "\00bb";
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 18px;
}

div#post-list-footer .spost {
    margin-top: 0;
    padding: 6px;
}

#footer-news .col-left .row > div.info {
    padding-left: 0;
}

#footer-news .col-left .row > div.info .excerpt p {
    max-height: 125px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

#footer-news .col-left .row {
    display: flex;
    flex-wrap: wrap;
}

footer#colophon {
    background: #207cbe !important;
}

.hotline-menu {
    background: transparent !important;
}

ul.products li.product .price a p {
    color: #f7941e;
    margin: 0;
}

.woocommerce #content div.product form.cart .btn-cart .addTo_cart {
    background: #fff !important;
    color: #207cbe;
    border: 1px solid #207cbe;
}

#woo-custom-sp .entry-meta .color ins,
#woo-custom-sp .entry-meta .color {
    color: #f7941e;
    font-style: inherit;
}

ul.products li.product>a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transform: translateY(-5px);
}

ul.products li.product>a .single-info {
    position: relative;
    flex: 1;
}

.woocommerce ul.products {
    display: flex;
    flex-wrap: wrap;
}

.woocommerce ul.products li {
    width: calc(100% / 3) !important;
}

.single-info .price {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0 !important;
    height: 40px;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    border-top: 1px solid #dadada;
    align-items: center;
}

.single-info .price>a.by_now {
    font-size: 14px;
    position: relative;
    padding-right: 15px;
}

.single-info .price>a.by_now:after {
    content: "\00bb";
    position: absolute;
    top: -3px;
    right: 2px;
    font-size: 18px;
}

.single-info .price>p {
    font-size: 13px;
    text-align: left;
    color: #f7941e;
    margin: 0;
}

.single-info .des-single {
    padding-bottom: 10px;
}

.single-info .woocommerce-loop-product__title {
    text-align: left;
    font-size: 15px;
    color: #207cbe;
    margin-top: 3px;
}

.breadcrumb {
    background: #fff;
}

.product .product_title {
    position: relative;
    padding-bottom: 6px !important;
}

.product .product_title:after {
    content: '';
    position: absolute;
    width: 85px;
    height: 3px;
    bottom: -2px;
    left: 0;
    background: #4a90e2;
}

.woocommerce-product-details__short-description ul {
    border-bottom: 1px solid #ccc;
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
}

.product .summary {
    display: flex;
    flex-direction: column;
}

.product .summary .price {
    order: 3;
    font-size: 23px !important;
}

.product .summary form.variations_form.cart {
    order: 3;
}

.woocommerce-product-details__short-description ul li span {
    font-size: 16px !important;
}

ul.tabs.wc-tabs>li {
    border-top: none !important;
    position: relative;
}

ul.tabs.wc-tabs>li>a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #fff;
}

.description_tab.active {
    color: #fff;
}

ul.tabs.wc-tabs>li {
    min-width: 52px;
    padding: 0 !important;
    transform: translateY(2px);
    margin-right: 51px !important;
}

ul.tabs.wc-tabs>li.active a:after {
    content: '';
    position: absolute;
    width: 38px;
    height: 100%;
    top: 0;
    right: -38px;
    background: #207cbe;
    border-top-right-radius: 103%;
    z-index: 1;
}

ul.tabs.wc-tabs>li.active>a {
    display: block;
    width: 100%;
    background: #207cbe;
    z-index: 9;
    padding-left: 6px !important;
    padding: 4px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom: 2px solid #207cbe;
}

a {
    color: #207cbe;
}

strong a,
strong span {
    color: #207cbe !important;
}

.single-product .quantity .screen-reader-text {
    /* display: block; */
}

.product .quantity {
    display: flex !important;
}

.product .quantity label {
    font-weight: bold;
    font-size: 13px;
    text-align: right;
    margin-right: 7px;
}

.woocommerce-variation-add-to-cart.variations_button {
    text-align: left;
}

.woocommerce #content div.product form.cart .button,
.woocommerce div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button {
    border-radius: 35px;
    background: #207cbe !important;
    opacity: 1;
    padding: 10px 25px !important;
    font-weight: 100 !important;
    margin-left: 0;
}

.woocommerce .product .cart .qty {
    height: 29px !important;
    border: none;
    transform: translateY(-4px);
    width: 35px;
    font-weight: bold;
    font-size: 19px;
    margin-left: 12px;
}

.widget-title,
#woo-custom-sp>h4,
nav#site-navigation>.container,
nav#site-navigation>.container>.row,
.topbar .container,
.topbar .container .row {
    background: #207cbe;
    opacity: 1;
}

#site-navigation .nd-menu-1 {
    background: #207cbe;
}

.choose-sim {
    display: inline-block;
    width: 100%;
    border: 1.5px solid #207cbe;
    padding: 15px 12px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 25px;
}

.type-all-sim {
    display: flex;
    flex-wrap: wrap;
}

.box-choose {
    width: calc(50% - 10px);
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    padding-top: 18px;
    transition: all .3s;
    background: #fff;
    cursor: pointer;
}

.type-all-sim>div:nth-child(odd) {
    margin-right: 20px;
}

.box-choose>h2 {
    color: #d7d7d7;
    font-size: 27px;
    font-weight: bold;
    width: 52px;
    margin: 0;
}

.box-choose:hover h2 {
    color: #f7941e;
}

.box-choose .price-sim {
    font-size: 17px;
    color: #f7941e;
    width: 156px;
    font-weight: 100;
}

.box-choose:hover .price-sim {
    font-weight: bold;
}

.box-choose>p {}

.box-choose:hover {
    transform: scale(1.07) translateY(-5px);
}

h4.title-choose {
    position: absolute;
    top: -21px;
    background: #fff;
    padding: 0 10px;
    color: #207cbe;
    font-weight: 600;
}

#toc_container {
    margin: 0;
    border-radius: 6px;
    margin-bottom: 14px;
    padding: 7px;
}

div#toc_container span {
    background: #F9F9F9;
}

.after-title {
    background: #207cbe;
    color: #fff;
    padding: 6px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    font-weight: normal;
}

.after-title:after {
    content: '';
    position: absolute;
    width: 38px;
    height: 100%;
    top: 0;
    right: -38px;
    background: #207cbe;
    border-top-right-radius: 103%;
    z-index: 1;
}

.title_post {
    border-bottom: 2px solid #207cbe;
    width: 100%;
}

ul.products li.product>a {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #dadada !important;
    transition: all .3s;
}

ul.products li.product a:hover .single-thumbnail img {
    box-shadow: 0 2px 23px rgba(0, 0, 0, .2);
}